body,html,div,dl,dt,dd,ul,li,ol,p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"微软雅黑";
  }
  body {
    padding-bottom: 100px;
    background-color: #f2faff ;
    overflow: auto;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
  }
  
  ol,ul,li {
    list-style: none;
  }
  a {
    display: block;
    text-decoration: none;
  }
  /*清除浮动*/
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
  .clearfix {
    zoom: 1;
  }
  .content {
    background:#ffffff;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    overflow: auto;
  }
  .right {
    float: right;
    right: 0;
  }
  .left {
    float: left;
    left: 0;
  }
  .top {
    float:top;
    top: 0;
  }
  .bottom {
    float:bottom;
    bottom: 0;
  }
 
  .hidden {
    display: none;
}
